@model Art_Gallery.ViewModels.AgentSalesViewModel
@{
    ViewBag.Title = "Agents";
}

<h2>Agents</h2>

@Html.ActionLink("Add an Agent", "CreateAgent")

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <th>@Html.DisplayNameFor(model => model.PiecesSold)</th>
        <th>@Html.DisplayNameFor(model => model.TotalSales)</th>
        <th>@Html.DisplayNameFor(model => model.TotalProfit)</th>
        <th>@Html.DisplayNameFor(model => model.Active)?</th>
    </tr>
    @foreach (var agent in Model.Agents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => agent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agent.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agent.PieceSold)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => agent.Sales)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => agent.Profit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agent.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "/EditAgent", new { agentId = agent.AgentId })
            </td>
        </tr>
    }
</table>
