@model Art_Gallery.ViewModels.PieceViewModel
@{
    ViewBag.Title = "Create Piece";
}

<h2>Create a Piece</h2>

@using (Html.BeginForm())
{
    @Html.Label("Title")
    @Html.EditorFor(model => model.Title)

    @Html.Label("Image")
    @Html.EditorFor(model => model.Image)

    @Html.Label("Cost")
    @Html.EditorFor(model => model.Cost)

    @Html.Label("Price")
    @Html.EditorFor(model => model.AskingPrice)

    @Html.Label("Sold")
    @Html.EditorFor(model => model.Sold)

    @Html.Label("Edition Number")
    @Html.EditorFor(model => model.EditionNumber)

    @Html.Label("Location")
    @Html.EditorFor(model => model.Location)

    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to homepage", "Index")