@model Art_Gallery.ViewModels.PieceViewModel
@{
    ViewBag.Title = "Edit A Piece";
}

<h2>Edit A Piece</h2>



@using (Html.BeginForm())
{
    <p>
        @Html.Label("Title")
        @Html.DisplayFor(model => model.Title)
    </p>
    <p>
        @Html.Label("Cost")
        @Html.EditorFor(model => model.Cost)
    </p>
    <p>
        @Html.Label("Asking Price")
        @Html.EditorFor(model => model.AskingPrice)
    </p>
    <p>
        @Html.Label("Sold")
        @Html.EditorFor(model => model.Sold)
    </p>
    <p>
        <input type="submit" value="Edit" />
    </p>
}