@model Art_Gallery.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "Your Inventory";
}

<h2>Your Inventory</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>@Html.DisplayNameFor(model => model.AskingPrice)</th>
        <th>@Html.DisplayNameFor(model => model.Sold)</th>
    </tr>
    @foreach (var piece in Model.Pieces)
    {
        <tr>
            <td>
                "@Html.DisplayFor(modelItem => piece.Title)"
            </td>
            <td>
                $@Html.DisplayFor(modelItem => piece.Cost)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => piece.AskingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => piece.Sold)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPiece", new { IndividualPieceId = piece.IndividualPieceId })
            </td>
        </tr>
    }
</table>
