@model Art_Gallery.ViewModels.CustomerPieceViewModel
@{
    ViewBag.Title = "Welcome, Customer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form asp-controller="Customer" asp-action="Index">
    @Html.DropDownList("artistString", "Select Artist")
    @Html.DropDownList("mediumString", "Select Medium")
    @Html.DropDownList("priceString", "Select Price Range")
    @*cost dropdown box goes here*@
    <input type="submit" value="Filter"/>
</form>

@*Initial view with all art pieces that have an inventory > 0*@
@foreach (var item in Model.AllPieces)
{

    <div class="panel panel-default col-sm-4">
        <div class="panel-heading" style="height: 60px;">
            @*Links to individual selection page for each piece of art*@
            @Html.ActionLink(@item.Title, "Selection", new { ArtworkId = item.ArtworkId })
        </div>
        <div class="panel-body">
            <img class="thumbnail" style="height: 350px; width: 350px;" src="@item.Image" />
            <p>This piece is available</p>
        </div>
    </div>
}


